# ignore everything 
/*
/*/


# ... but these: 
!/README.md
!/.gitignore
!install.sh

!i3

!astronvim
!nvim

!ranger
ranger/plugins/

!zsh
zsh/antigen.zsh.zwc

!ssh

!tmux

!kitty

!rofi

!alacritty

!matplotlib

!frp

!.Xresources
